* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    font-size: 1.6rem;
}

header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.logo {
    opacity: 0.8;
    width: 20px;
    height: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

nav ul li a:hover {
    transition: .3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.search {
    padding: 5px;
    font-size: 1.1rem;
}

.hamburger a {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .3);
    justify-content: center;
    align-items: center;
}

.hamburger .bar {
    position: relative;
    width: 80%;
    height: 1px;
    background-color: #fff;
    border-radius: 30%;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: translateX(50%);
    width: 50%;
    height: 100%;
    background-color: inherit;
}

.hamburger .bar::before {
    top: -5px;
}

.hamburger .bar::after {
    top: 5px;
}

main {
    position: relative;
    background: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.parallax {
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.4s cubic-bezier(.2, .5, .3, .99);
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(
            ellipse at center,
            rgba(0, 0, 0, 0) 70%,
            rgba(0, 0, 0, 0.7));
    pointer-events: none;
}

.bg-img {
    position: absolute;
    width: 250%;
    height: 120%;
    top: 50%;
    left: 45%;
}

.rock-1 {
    position: absolute;
    z-index: 10;
    top: 80%;
    left: -50%;
    width: fit-content;
    height: fit-content;
    scale: .5;
    filter: saturate(.5);
}

.rock-2 {
    position: absolute;
    z-index: 10;
    top: 80%;
    left: 20%;
    width: fit-content;
    height: fit-content;
    scale: .4;
    filter: saturate(0.8) hue-rotate(250deg);
}

.rock-4 {
    position: absolute;
    z-index: 5;
    top: 20%;
    left: -170%;
    width: fit-content;
    height: fit-content;
    scale: .2;
    filter: hue-rotate(-30deg);
}

.tree-1 {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 15%;
    width: fit-content;
    height: fit-content;
    scale: .2;
}

.text {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 100%;
    pointer-events: auto;
}

.text h2 {
    font-weight: 200;
    font-size: 1.5rem;
}

.text h1 {
    font-weight: 600;
    font-size: 4rem;
    /*line-height: 1.3;*/
}

::selection {
    background-color: rgba(255, 255, 255, 0.4);
}


@media (min-width: 375px) {

    .rock-1 {
        left: -30%;
    }

    .rock-4 {
        left: -130%;
    }

    .rock-2{
        left: 30%;
    }

    .tree-1{
        left: 25%;
    }

}

@media (min-width: 425px) {

    header{
        padding: 20px;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    nav ul{
        gap: 20px;
    }

    .search {
        scale: 1.3;
    }

    .rock-4 {
        left: -100%;
    }
}


@media (min-width: 576px) {

    .rock-1 {
        left: -10%;
    }

    .rock-4 {
        left: -75%;
    }

    .rock-2 {
        left: 50%;
    }

    .tree-1 {
        left: 45%;
    }

    .text h1 {
        font-size: 6rem;
    }

    .text h2 {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {

    .bg-img {
        width: 150%;
    }

    .rock-2 {
        left: 60%;
    }

    .rock-4 {
        left: -60%;
    }

    .tree-1 {
        left: 60%;
    }
}

@media (min-width: 992px) {

    .rock-1 {
        left: 5%;
        scale: .7;
        top: 80%;
    }

    .rock-4 {
        left: -30%;
    }

    .rock-2 {
        scale: 0.5;
        left: 75%;
    }

    .tree-1 {
        left: 65%;
    }
}

@media (min-width: 1200px) {
    .rock-4 {
        left: -25%;
        top: 15%;
    }

    .rock-2 {
        left: 80%;
        scale: .6;
    }

    .tree-1 {
        /*top: 40%;*/
        left: 65%;
    }

    .text h1 {
        font-size: 8rem;
    }

    .text h2 {
        font-size: 3rem;
    }
}

@media (min-width: 1400px) {

    .rock-1 {
        left: 5%;
    }

    .rock-4 {
        left: -15%;
    }

    .tree-1 {
        left: 68%;
    }
}